:root {
  --main-bg: hsl(0, 0%, 96%);
  --text-dark: hsla(0, 0%, 0%, 0);
  --text-light: hsl(0, 0%, 100%);

  --btn-primary-bg: hsl(211, 100%, 50%);
  --btn-primary-text: hsl(0, 0%, 100%);

  --btn-secondary-bg: hsl(134, 61%, 41%);
  --btn-secondary-text: hsl(0, 0%, 100%);

  --chatbot-bg: #ececec;
  --chatbot-text: hsla(0, 0%, 0%, 0);

  --userchat-bg: #dcf8c6;
  --userchat-text: hsla(0, 0%, 0%, 0);
}
